@model GameStoreLibrary.Models.GameModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <dl class="details-dl">
        <dt class="details-label">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="details-information">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="details-label">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>

        <dd class="details-information">
            @Html.DisplayFor(model => model.Platform)
        </dd>

        <dt class="details-label">
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd class="details-information">
            R$@Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>

<div class="voltar-button-div">
    <a class="voltar-button" href="~/Jogos">
        Voltar
    </a>
</div>

