@{
    ViewBag.Title = "Home Page";

    var gow = ViewBag.Gow;
    var eldenring = ViewBag.EldenRing;
    var codmw2 = ViewBag.CoDMW2;
}

<div>
    <div class="index-lancamentos-label">
        Lançamentos
    </div>

    <div class="index-lancamentos-jogos-div">
        <div class="index-jogo">
            <div class="index-jogo-name">
                @gow.Name
            </div>
            <div class="index-foto">
                <img src="~/Content/img/gow.jpg" />
            </div>
            <div class="index-jogo-platform">
                @gow.Platform
            </div>
            <div class="index-jogo-price">
                R$@gow.Price
            </div>
        </div>

        <div class="index-jogo">
            <div class="index-jogo-name">
                @gow.Name
            </div>
            <div class="index-foto">
                <img src="~/Content/img/gow.jpg" />
            </div>
            <div class="index-jogo-platform">
                @gow.Platform
            </div>
            <div class="index-jogo-price">
                R$@gow.Price
            </div>
        </div>

        <div class="index-jogo">
            <div class="index-jogo-name">
                @gow.Name
            </div>
            <div class="index-foto">
                <img src="~/Content/img/gow.jpg" />
            </div>
            <div class="index-jogo-platform">
                @gow.Platform
            </div>
            <div class="index-jogo-price">
                R$@gow.Price
            </div>
        </div>
    </div>
</div>

<div>
    <img src="~/Content/img/psdeal.png" />
</div>

<div>
    <div class="index-mais-vendidos-label">
        Mais vendidos
    </div>

    <div class="index-lancamentos-jogos-div">
        <div class="index-jogo">
            <div class="index-jogo-name">
                @gow.Name
            </div>
            <div class="index-foto">
                <img src="~/Content/img/gow.jpg" />
            </div>
            <div class="index-jogo-platform">
                @gow.Platform
            </div>
            <div class="index-jogo-price">
                R$@gow.Price
            </div>
        </div>

        <div class="index-jogo">
            <div class="index-jogo-name">
                @eldenring.Name
            </div>
            <div class="index-foto">
                <img src="~/Content/img/eldenring.png" />
            </div>
            <div class="index-jogo-platform">
                @eldenring.Platform
            </div>
            <div class="index-jogo-price">
                R$@eldenring.Price
            </div>
        </div>

        <div class="index-jogo">
            <div class="index-jogo-name">
                @codmw2.Name
            </div>
            <div class="index-foto">
                <img src="~/Content/img/codmw2.jpg" />
            </div>
            <div class="index-jogo-platform">
                @codmw2.Platform
            </div>
            <div class="index-jogo-price">
                R$@codmw2.Price
            </div>
        </div>
    </div>
</div>

<div>
    <img src="~/Content/img/cryptogift.png" />
</div>