@{
    ViewBag.Title = "Home Page";

    var gow = ViewBag.Gow;
}

<div>
    <div class="index-lancamentos-label">
        Lançamentos
    </div>

    <div class="index-lancamentos-jogos-div">
        <div class="index-jogo">
            <div class="index-jogo-name">
                @gow.Name
            </div>
            <div>
                Foto
            </div>
            <div class="index-jogo-platform">
                @gow.Platform
            </div>
            <div class="index-jogo-price">
                R$@gow.Price
            </div>
        </div>

        <div class="index-jogo">
            <div class="index-jogo-name">
                @gow.Name
            </div>
            <div>
                Foto
            </div>
            <div class="index-jogo-platform">
                @gow.Platform
            </div>
            <div class="index-jogo-price">
                R$@gow.Price
            </div>
        </div>

        <div class="index-jogo">
            <div class="index-jogo-name">
                @gow.Name
            </div>
            <div>
                Foto
            </div>
            <div class="index-jogo-platform">
                @gow.Platform
            </div>
            <div class="index-jogo-price">
                R$@gow.Price
            </div>
        </div>
    </div>
</div>