@{
    ViewBag.Title = "Home Page";

    var gow = ViewBag.Gow;
    var eldenring = ViewBag.EldenRing;
    var codmw2 = ViewBag.CoDMW2;
    var fifa = ViewBag.Fifa;
    var spiderman = ViewBag.SpiderMan;
}

<div>
    <div class="index-lancamentos-label">
        Lançamentos
    </div>

    <div class="index-lancamentos-jogos-div">
        <a class="index-jogo" href="~/jogos/details/@gow.Id" id="gow-mais-vendidos">
            <div class="index-jogo-name">
                @gow.Name
            </div>
            <div class="index-foto">
                <img src="~/Content/img/gow.jpg" />
            </div>
            <div class="index-jogo-platform">
                @gow.Platform
            </div>
            <div class="index-jogo-price">
                R$@gow.Price
            </div>
        </a>

        <a class="index-jogo" href="~/jogos/details/@fifa.Id">
            <div class="index-jogo-name">
                @fifa.Name
            </div>
            <div class="index-foto">
                <img src="~/Content/img/fifa23.jpg" />
            </div>
            <div class="index-jogo-platform">
                @fifa.Platform
            </div>
            <div class="index-jogo-price">
                R$@fifa.Price
            </div>
        </a>

        <a class="index-jogo" href="~/jogos/details/@spiderman.Id">
            <div class="index-jogo-name">
                @spiderman.Name
            </div>
            <div class="index-foto">
                <img src="~/Content/img/spiderman.jpg" />
            </div>
            <div class="index-jogo-platform">
                @spiderman.Platform
            </div>
            <div class="index-jogo-price">
                R$@spiderman.Price
            </div>
        </a>
    </div>
</div>

<div>
    <img src="~/Content/img/psdeal.png" />
</div>

<div>
    <div class="index-mais-vendidos-label">
        Mais vendidos
    </div>

    <div class="index-lancamentos-jogos-div">
        <a class="index-jogo" id="gow-mais-vendidos" href="~/jogos/details/@gow.Id">
            <div class="index-jogo-name">
                @gow.Name
            </div>
            <div class="index-foto">
                <img src="~/Content/img/gow.jpg" />
            </div>
            <div class="index-jogo-platform">
                @gow.Platform
            </div>
            <div class="index-jogo-price">
                R$@gow.Price
            </div>
        </a>

        <a class="index-jogo" href="~/jogos/details/@eldenring.Id">
            <div class="index-jogo-name" id="eldenring-mais-vendidos">
                @eldenring.Name
            </div>
            <div class="index-foto">
                <img src="~/Content/img/eldenring.png" />
            </div>
            <div class="index-jogo-platform">
                @eldenring.Platform
            </div>
            <div class="index-jogo-price">
                R$@eldenring.Price
            </div>
        </a>

        <a class="index-jogo" href="~/jogos/details/@codmw2.Id">
            <div class="index-jogo-name">
                @codmw2.Name
            </div>
            <div class="index-foto">
                <img src="~/Content/img/codmw2.jpg" />
            </div>
            <div class="index-jogo-platform">
                @codmw2.Platform
            </div>
            <div class="index-jogo-price">
                R$@codmw2.Price
            </div>
        </a>
    </div>
</div>

<div>
    <img src="~/Content/img/cryptogift.png" />
</div>